*{padding: 0; margin:0;}
body{
	padding: 150px;
	background-color: skyblue;
}
#nwa, #wewantyou{display: inline-block;}
#wewantyou{background-color:aquamarine; 
height: 550px;
width: 50%

}
#nwa{background-color: yellow;
height: 550px;
}